.main
  %section.main__mainVisual
    .main__mainVisual__content
      %h2.main__mainVisual__content__subtitle
        %br
        人生を変えるフリマアプリ
      %p.main__mainVisual__content__text
        %br
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです 
      .main__mainVisual__content__btn
        %a.aBtn(href="#")
          = image_tag 'apple.jpeg'
        %a.gBtn(href="#")
          = image_tag 'google.png'