.main
  %section.main__topIntroduction
    %h2.main__topIntroduction__subtitle
      FURIMAが選ばれる3つの理由
    %ul.main__topIntroduction__lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag 'pict-reason-01.jpg', size: "306x306"
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる!
      %li.list
        .list__pict
          %span.number 2
          = image_tag 'pict-reason-02.jpg', size: "306x306"
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ!
        %li.list.list--last
          .list__pict
            %span.number 3
            = image_tag 'pict-reason-03.jpg', size: "306x306"
          %h3.list__text
            手数料
            %span 業界最安
          %p.list__description
            最大3%でお得に出品&購入!