.bottom__banner
  .bottom__banner__contents
    %h2 だれでもかんたん、人生をかえるフリマアプリ
    %h3.bottom__banner__title__sub 今すぐ無料ダウンロード！
    .store__logo
      =image_tag 'apple.jpeg',class: "store__image"
      =image_tag 'google_logo.png',class: "store__image"
    

