.bottom__banner
  .bottom__banner__contents
    %h2 だれでもかんたん、人生をかえるフリマアプリ
    %h3.bottom__banner__title__sub 今すぐ無料ダウンロード！
    .store__logo
      %img.store__image{:alt => "", :src => "assets/apple.jpeg"}/
      %img.store__image{:alt => "", :src => "assets/apple.jpeg"}/
    

