.wrapper
  -# .header
  -#   = render partial: 'header'
  .main__section1  
    = render partial: 'section1'
  .main__section2
    = render partial: 'section2'
  .main__section3
    = render partial: 'section3'
  .main__section4
    = render partial: 'section4'
