.footer
  .footer__terms
    = link_to 'プライバシーポリシー', "#"
    = link_to 'FURIMA利用規約', "#"
    = link_to '特定商取引に関する表記', "#"
  .footer__logo
    = link_to(root_path) do
      =image_tag "logo-white.png", class: "footerSub__img", size: "153x34"
  .footer__copyright © FURIMA




test