.signupBody
  = render partial: 'header'

  .signupWrapper
    .signupWrapper__head
      %h2 会員登録完了
    .signupWrapper__content--create
      .signupWrapper__content--create__message
        %p ありがとうございます。
        %p 会員登録が完了しました。
      .signupWrapper__content--create__homelink
        = link_to 'トップページに戻る', root_path, class: "signupWrapper__content--create__homelink__btn"
  
  = render partial: 'footer'