.main__section3 {
  width: 100%;
}
.section__feature {
  padding: 60px 100px;
  background-color: #fff;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

      .section__feature__title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      display: inline-block;
      width: 100%;

      &::after {
       content: "";
       width: 70px;
       height: 4px;
       background-color: #3CCACE;
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
      }
      }

      &__content {
        max-width: calc(1040px + 20px);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        
        .section__feature__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: calc(1 / 3 * 100%);
          padding: 0 20px;

          .section__feature__item__image {
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
          }

          h3 {
            margin: 38px 0 10px;
            font-size: 19px;
            font-weight: bold;

          }
          p {
            margin: 0 0 40px;
            font-size: 17px;
            font-weight: 200;
            text-align: left;
          }
        }
      }
}



