.main__section1{
  width: 100%;
  .main{
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    width: 100%;
    &__mainVisual{
      width: 100%;
      height: 560px;
      background-image: image-url('bg-mainVisual-pict_pc.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      position: relative;
      padding: 0 60px;
      display: flex;
      align-items: center;
      &__content{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 35px 0 0 0;
        &__subtitle{
          font-size: 60px;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          line-height: 1.2;
          color: #fff;
        }
        &__text{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
          color: #fff;
        }
        &__btn{
          display: flex;
          margin: 24px 0 0 0;
          &__btn:hover{
            opacity: 0.5;
          }
          a:first-child{
            margin-right: 10px;
          }
          .aBtn{
            width: 180px;
          }
          img{
            width: 100%;
            vertical-align: bottom;
          }
          .gBtn{
            width: 180px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
