.main-contents {
  // text-align: center;
  width: 100%;
  height: 100%;
  
  .mypage-user-icon {
    position: relative;
    text-align: center;
    padding: 40px 20px;
    width: 700px;
    height: 200px;
    background-color: #3CCACE;

    &__container {
      display: block;
      color: #333;
      position: absolute;
      top: 25%;
      // top: 50%;
      left: 0;
      right: 0;
      figure {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        .user-icon {
  
        }
      }
      .user-name {
        margin: 8px 0 0;
        font-size: 14px;
        color: #333;
        line-height: 1;
        font-weight: bold;

      }
      .mypage-number {
        margin: 8px 0 0;
        display: flex;
        justify-content: center;/* 水平方向 */
        align-items: center;/* 垂直方向 */
        
        .evaluation {
          font-size: 14px;

          .bold {
            font-size: 16px;
            margin: 0 0 0 8px;
          }
        }
        .exhibition {
          font-size: 14px;
          margin: 0 0 0 16px;

          .bold {
            font-size: 16px;
            margin: 0 0 0 8px;

          }
        }
      }
    }
  }

  .mypage-tab-container__notification-todo {
    width: 700px;
    height: 310px;
    background-color: #fff;
    .mypage-tabs {
      display: flex;
      height: 74px;
      width: 100%;
      > li {
        height: 100%;
        width: 50%;
        display: block;
        font-size: 16px;
        line-height: 74px;
        text-align: center;
        font-weight: bold;
      }
      .notification {
        background-color: #eee;
        
      }      
      .todo {

      }
    }
    .tab-contents {
      &--notification__todo {

        &__not-found {
          // background-repeat: no-repeat;
          // background-position: center 60px;
          // background-size: 100px 50px;
          // padding: 160px 0 60px;
          // background-image: url("logo.png");
          // text-align: center;
          // font-size: 16px;
          // color: #ccc;
          // font-weight: 600;
          
          font-weight: 600;
          padding: 160px 0 60px;
          background: url("logo.png");
          background-repeat: no-repeat;
          background-position: 300px 50px;
          // background-position: center 50px;
          background-size: 100px 60px;
          // background-size: 300px 95px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }

      &--notification__items {

      }
    }
  }
  
  .mypage-transaction {
    width: 700px;
    height: 382px;
    margin: 40px 0 0 0;
    background-color: #fff;

    &__head {
      padding: 0 16px;
      width: 100%;
      height: 72px;
      line-height: 72px;
      background: #fafafa;
      font-size: 1.2em;
      font-weight: bold;
    }
    &__tabs {
      display: flex;
      height: 74px;
      width: 100%;
      > li {
        height: 100%;
        width: 50%;
        display: block;
        font-size: 16px;
        line-height: 74px;
        text-align: center;
        font-weight: bold;
      }
      .just-trading {

      }
      .trade-history {
        background-color: #eee;

      }
    }
    .tab-contents--transaction {
      &__now {
       
        &__not-found {
          font-weight: 600;
          padding: 160px 0 60px;
          background: url("logo.png");
          background-repeat: no-repeat;
          background-position: 300px 50px;
          // background-position: center 50px;
          background-size: 100px 60px;
          // background-size: 300px 95px;
          text-align: center;
          font-size: 16px;
          color: #ccc;

        }
      }
      &__past {

      }
    }
  }
}