.doneWrapper
  .doneWrapper__content
    .doneWrapper__content__message
      購入が完了しました！
    .doneWrapper__content__link
      = link_to "トップページに戻る", root_path, class: "doneWrapper__content__link__btn"