
.sign-up-wrapper{
  background-color: #F5F5F5;
  font-family: "Yu Gothic" ;
  .sign-up__header{
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 180px;
    img {
      height: 50px;
      width: 180px;
    }
  }
  .sign-up-content{
    align-items: center;
    &__head{
      background-color:white;
      width: 697px;
      height: 90px;
      padding: 16px;
      line-height:70px;
      text-align:center;
      margin: 0 auto;
      font-size: 22px;
      font-weight: bold;
      border: solid 1px #F5F5F5;
    }
    &__main{

      &__form {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        margin:0 auto ;

        
        &__group{
          margin-top:23px;
          padding: 0 182px;
          position: relative;

          &__icon1{
          position: absolute;
          top: 40px;
          left: 237px;
          color: #888888;
          }

          &__icon2{
            position: absolute;
            top: 40px;
            left: 346px;
            color: #888888;
            }

          &__icon3{
            position: absolute;
            top: 40px;
            left: 452px;
            color: #888888;
            }

            &__icon4{
              position: absolute;
              top: 46px;
              left: 495px;
              color: #888888;
              }

          select{
            width: 80px;
            height: 48px;
            background-color: white;
            -webkit-appearance: none;
            padding-left: 10px;
            font-size: 14px;
  
          } 

          #address_prefecture_id{
            width: 343px;
            height: 48px;
            margin-top: 5px;
            font-family: "Yu Gothic";
          }

          #prefecture_id{
            width: 343px;
            height: 48px;
            background-color: white;
            -webkit-appearance: none;
            padding-left: 10px;
            font-size: 14px;
          }

          &__field{
            width: 343px;
            height: 48px;
            margin-top: 5px;
            font-family: "Yu Gothic";
          }

 

          &__name{
            width: 160px;
            height: 48px;
            margin-top: 5px;
            font-family: "Yu Gothic";
          }

          &__require{
            margin: 0 0 0 8px;
            padding: 2px 4px;
            font-size: 12px;
            color: #fff;
            background-color: #3BCACD;
          }

          &__any{
            margin: 0 0 0 8px;
            padding: 2px 4px;
            font-size: 12px;
            color: #fff;
            background-color: #CCCCCC;
          }


          &__text-title{
            font-size: 16px;
            font-weight: bold;
          }

          &__text {
            font-size: 14px;
          }

          &__info{
            font-size: 14px;
            color: #888888;
          }
        }

        &__actions{
          margin:45px 0;
          text-align:center;
          &__button{
            background-color: #3BCACD;
            height: 50px;
            width: 350px;
            color: white;
          }
        }
      }
    }

    &__footer{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: rgb(245, 245, 245);
      &__other {
        margin: 40px;
        font-size: 12px;
        color: #aaaaaa;
        span {
          margin-right: 15px;
        }
      }
      &__logo {
        img {
          width: 180px;
          height: 50px;
        }
      }
      &__name {
        p {
        font-size: 12px;
        color: #aaaaaa;
        padding-bottom: 40px;
        }
      }
    }
  }

}
